<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="dbserver" value="10.171.1.105"/>
		<add key="database" value="Cleantrack_Crotone"/>
		<add key="dbuser" value="sa"/>
		<add key="dbpassword" value="!QAZ2wsx3edc"/>
	</appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
